html, body {
    background-color: rgb(245, 249, 192);
}

@font-face {
    font-family: 'icons';
    src: url('icons.ttf')  format('truetype');
}

input {
    box-sizing: border-box;
	border-radius:6px;
	height:30px;
	width:850px;
	background-color: white;
	margin-left: 30px;
}
.user{
	margin-left:450px;
}

.header {
    color:white;
    padding: 10px;
	background: rgba(30, 110, 168, 0.77);
	font-size: 24px;
	font-family: "Times New Roman", Georgia, Serif;
	height: 100px;
    width: 100%;
}

.footer {
	background-color:rgba(30, 110, 168, 0.77);
    color:white;
    clear:both;
    text-align:center;
	padding:15px;
	width: 100%;
	margin-top:	650px;
	
}


.form {
	font-size: 24px;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}

.btn {
	width:100px;
	height:30px;
	border:none;
	border-radius:6px;
	/* background: url("../img/login1.png"); */
	background-color: rgb(230, 232, 187);
	margin-left:850px;
	font-weight: bolder;
}

.logo{
	width: 150px;
	height: 100px;
	background-image:url("../img/mybook.jpg");
}

.head{
	margin-left:180px;
	margin-top:-60px;
}

#nav {
	line-height: 60px;
	background-color: #F8FCC9;
	height: 720px;
	width: 100px;
	float: left;
	padding: 5px;  
	border: 1px solid lightgrey;    
}

#section {
	margin-top:20px;
    /* text-align:center;	 	  */
}

p {
	padding: 20px 10px 0px 20px;
	font-size:16px;
	font-family: "Times New Roman", Georgia, Serif;
}

.postbtn {
	width:100px;
	height:30px;
	border:none;
	border-radius:6px;
	background-color:rgba(30, 110, 168, 0.77);
	margin-left: 10px;
	color: white;
	font-weight: bolder;
}

#img1{
	margin-top: 20px;
    float:left;
}
#txt{
	font-family: "Times New Roman", Times, serif;
	 font-size: 15px;
}
#but {

    display:block;
    float:right;
    width:32px;
    height:32px;
	bottom: 25px;
	right: 150px;
	background-image: url(../img/close.jpg);
	background-repeat:no-repeat;
}
#loadFeeds{
	margin-top:15px;
}
#feedDiv{
	/* background: #FCFBEA */
}
#feedDiv:nth-child(even) {
	background: #BADBDD;
	border-radius:8px;
}
#feedDiv:nth-child(odd) {
	background: #FBFCE5;
	border-radius:8px;
}
	
.userFeed {
	width: 760px;
	height: 80px;
	margin-top: 30px;
	margin-left: 145px;
	border: 1px solid lightgray;
	border-radius: 2px;
}

.UserFeedDate{
	float: right;
	margin-top: 10px;
}

.UserFeedText {
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	word-wrap: break-word;
	width: 480px;
}

.UserFeedDelete {
	margin-top: 20px;
}