html, body {
    background-color: rgb(245, 249, 192);
}

@font-face {
    font-family: 'icons';
    src: url('icons.ttf')  format('truetype');
}

input {
    box-sizing: border-box;
	border-radius:6px;
	height:30px;
	width:190px;
	background-color: white;
}
.user{
	margin-left:450px;
}

.header {
    color:white;
    padding: 10px;
	background: rgba(30, 110, 168, 0.77);
	font-size: 24px;
	font-family: "Times New Roman", Georgia, Serif;
	height: 100px;
    width: 100%;
}

.footer {
	background-color:rgba(30, 110, 168, 0.77);
    color:white;
    clear:both;
    text-align:center;
	padding:15px;
	width: 100%;
	/* margin-top:	620px; */
}


.form {
	font-size: 24px;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}

.btn {
	width:100px;
	height:30px;
	border:none;
	border-radius:6px;
	background-color: rgb(230, 232, 187);
	margin-left:850px;
	font-weight: bolder;
}

.logo{
	width: 150px;
	height: 100px;
	background-image:url("../img/mybook.jpg");
}

.head{
	margin-left:180px;
	margin-top:-60px;
}

#nav {
	line-height: 60px;
	background-color: #F8FCC9;
	height: 720px;
	width: 100px;
	float: left;
	padding: 5px; 
	border: 1px solid lightgrey;	
}
#section {
	margin-top:40px;
    text-align:center;	 	 
}

#image1{
	line-height:30px;
	height:152px;
    width:299px;
    float:right;
    padding:35px;
}
#image2{
	line-height:30px;
	height:75px;
    float:left;
    padding:5px;
}