<!DOCTYPE html>
<html>
<head>
	<link href="../css/feed.css" rel="stylesheet">
	<script type="text/javascript" src="../js/feed.js"></script>
</head>

<body>
	<div class="header">
		<form action="../index.html" method="post" name="form" >
			<div class="logo"></div>
			<div class="container head">
				<label><strong>My Book</strong></label>
				<button type="submit" class="btn">Logout</button>
			</div>
		</form>
	</div> <!-- .header -->
	
	<div id="nav">
		<a href="feed.html" style="background: rgb(176, 211, 229)">Feed</a><br>
		<a href="profile.html">Profile</a><br>
	</div>

	<div id="section">
		<input id = "feedId" value = "" type = "text"/>
		<button class="postbtn" onclick="createFeed('feedId')"> Post</button>
		<div id="loadFeeds" class = "feedlist"></div>
	</div>
	
	<div class="footer">
		Talent Improving exercise, OFS
	</div><!-- .footer -->

</body>

</html>